<div class="icons">
  <div class="icons__inner">
    <div class="bgc1 clearfix">
      <h1 class="mhmm mvm"><span class="fgc1">Иконки</span></h1>
    </div>

    <ng-container *ngIf="!loading">
      <div class="test">
        <input type="file" #file (change)="get_file(file.files)">

        <button (click)="test()">test</button>
      </div>

      <div class="clearfix mhl ptl">
        <div class="glyph fs1" *ngFor="let icon of icons">
          <div class="clearfix bshadow0 pbs">
            <span [attr.class]="icon.key"></span>
            <span class="mls"> {{icon.key}}</span>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="loading">
      <div class="admin-load"></div>
    </ng-container>
  </div>
</div>
